#customize-preview {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.wp-full-overlay {
    background: var(--primarycolor);
}

#customize-controls .wp-full-overlay-sidebar-content {
    background: var(--primarycolor);
}

.wp-full-overlay-sidebar {
    border-right: 0px;
}

#customize-controls .description {
    color: white;
}