/***** ROOT VARIABLES ******/

:root {
    --primarycolor: #06003f;
    --primarycoloractive: #0f0092;
    --menu-font-resting: #ffffffab;
    --submenu-darker: #06003f;
}

body {
    font-family: 'roboto';
    background: var(--primarycolor);
}

html.wp-toolbar {
    padding-top: 0px;
}


/***** DASHICONS *****/

.dashicons-dashboard:before {
    content: "\f165";
}

.dashicons-admin-post:before {
    content: "\f176";
}

.dashicons-admin-media:before {
    content: "\f1e3";
}

.dashicons-admin-page:before {
    content: "\f187";
}

.dashicons-admin-comments:before {
    content: "\f151";
}

.dashicons-admin-appearance:before {
    content: "\f1dc";
}

.dashicons-admin-plugins:before {
    content: "\f117";
}

.dashicons-admin-tools:before {
    content: "\f135";
}

.dashicons-admin-settings:before {
    content: "\f209";
}

.dashicons-status:before {
    content: "\f147";
}

.dashicons,
.dashicons-before:before {
    font-family: "uicons-regular-rounded"!important;
}

.dashicons-admin-users:before {
    content: "\f257"!important;
}


/******* ADMIN SIDEBAR *****/

#adminmenu a {
    border-radius: 10px;
}

#adminmenu li.menu-top {
    margin-top: 4px;
    margin-bottom: 4px;
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
    background: var(--primarycolor);
}

#adminmenu .wp-submenu li {
    padding-left: 10px!important;
}

#adminmenu li.menu-top:not(.wp-menu-open):hover,
#adminmenu li.opensub>a.menu-top:not(.wp-menu-open),
#adminmenu li>a.menu-top:not(.wp-menu-open):focus {
    background: var(--primarycolor);
}

.dashicons-current-profile {
    image-rendering: -webkit-optimize-contrast;
    background-size: contain;
    border-radius: 100%;
    margin: 5px!important;
}

#toplevel_page_admin_profile>a>div.wp-menu-name {
    padding-top: 13px;
}

#toplevel_page_admin_profile {
    margin-bottom: 20px!important;
    margin-top: 0px!important;
}

.folded #toplevel_page_admin_profile>a>div.wp-menu-image.dashicons-before.dashicons-current-profile {
    height: 27px;
    width: 27px;
}

#adminmenuwrap {
    position: fixed!important;
}

#adminmenu a:focus,
#adminmenu a:hover,
.folded #adminmenu .wp-submenu-head:hover {
    box-shadow: inset 0px 0 0 0 currentColor!important;
}

#screen-meta-links,
#wpfooter,
#wp-admin-bar-root-default {
    display: none;
}

#adminmenuback,
#adminmenuwrap {
    top: 10px;
    bottom: 30px;
    left: 30px;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background: var(--primarycoloractive);
    border-radius: 10px!important;
}

#adminmenu li.menu-top:not(.wp-menu-open):hover>a,
#adminmenu li>a.menu-top:not(.wp-menu-open):focus>a {
    background-color: var(--primarycoloractive);
    border-radius: 10px!important;
}

#adminmenu .wp-submenu {
    background-color: var(--submenu-darker);
    left: 170px;
}

#adminmenu a.menu-top:focus+.wp-submenu {
    background-color: var(--submenu-darker);
}

.js #adminmenu .opensub .wp-submenu,
.js #adminmenu .sub-open,
.no-js li.wp-has-submenu:hover .wp-submenu {
    background-color: var(--primarycolor);
    box-shadow: none!important;
    color: white!important;
    border-radius: 10px;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {
    color: white;
}

#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
    color: white;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after {
    border-right-color: #ffffff;
}

.wp-not-current-submenu>ul {
    background-color: var(--primarycolor)!important;
    box-shadow: none!important;
    box-shadow: none!important;
    color: white!important;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#adminmenu .wp-not-current-submenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
    box-shadow: none!important;
    color: white!important;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#adminmenuwrap,
#adminmenuback {
    background: var(--primarycolor);
    border-radius: 10px;
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
    color: white;
}

#adminmenu {
    background-color: transparent!important;
    display: flex;
    /* move flex-items in column */
    flex-direction: column;
    margin-top: 0px;
}

#adminmenuwrap {
    display: flex;
}

#adminmenu> :last-child {
    margin-top: auto;
}

#adminmenu div.wp-menu-image:before {
    color: white!important;
}

#collapse-button {
    color: white;
}

#collapse-button .collapse-button-icon:after {
    font-family: "uicons-regular-rounded"!important;
    content: "\f110";
}

#collapse-button:hover,
#collapse-button:focus {
    color: white;
}

#toplevel_page_admin_profile>a:focus,
#toplevel_page_admin_profile>a:hover,
#toplevel_page_admin_profile:focus,
#toplevel_page_admin_profile:hover,
.toplevel_page_admin_profile.opensub>a,
.toplevel_page_admin_profile.opensub>a,
.toplevel_page_admin_profile {
    background-color: #2c2568!important;
    box-shadow: 0px!important;
    border-radius: 10px;
}

#toplevel_page_admin_profile>ul {
    background-color: #2c2568!important;
}

#adminmenu #toplevel_page_admin_profile.wp-has-submenu.wp-not-current-submenu:focus-within:after,
#adminmenu #toplevel_page_admin_profile.wp-has-submenu.wp-not-current-submenu:hover:after {
    content: "\f111"!important;
    font-family: "uicons-regular-rounded"!important;
    background-color: transparent!important;
    border: 0px!important;
    top: 13px;
    left: 140px;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after,
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
    content: "\f111"!important;
    font-family: "uicons-regular-rounded"!important;
    background-color: transparent!important;
    border: 0px!important;
    top: 10px;
    left: 140px;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
    content: ""!important;
    font-family: "uicons-regular-rounded"!important;
    background-color: transparent!important;
    border: 0px!important;
    top: 16px;
    left: 140px;
}

ul#adminmenu a.wp-has-current-submenu.wp-menu-open.wp-has-submenu:after {
    content: "\f10f"!important;
    color: white;
    font-family: "uicons-regular-rounded"!important;
    background-color: transparent!important;
    border: 0px!important;
    top: 16px;
    left: 140px;
}

.folded #adminmenu a.wp-has-current-submenu.wp-menu-open:after {
    content: ""!important;
    color: white;
    font-family: "uicons-regular-rounded"!important;
    background-color: transparent!important;
    border: 0px!important;
    top: 16px;
    left: 140px;
}

.folded ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
.folded ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
    content: ""!important;
    color: white;
    font-family: "uicons-regular-rounded"!important;
    background-color: transparent!important;
    border: 0px!important;
    top: 16px;
    left: 140px;
}


/***** Page Content *****/

#wpcontent {
    margin-left: 220px;
    margin-right: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 30px - 220px);
    background: white;
    position: fixed;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;
    overflow: scroll;
}

.folded #wpcontent,
.folded #wpfooter {
    margin-left: 90px;
    width: calc(100% - 30px - 90px);
}


/*****  Admin Bar ********/

#wp-admin-bar-top-secondary {
    display: none!important;
}

.ubi-logo {
    height: 30px;
    width: auto;
    position: fixed;
    left: 33;
    top: 10;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img,
#wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
    height: 40px;
    border-radius: 40px;
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 0px;
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
    color: black;
}

#wpadminbar {
    background-color: transparent;
    height: 50px;
}

#wpadminbar .quicklinks ul {
    height: 100%;
}

#wp-toolbar {
    height: 100%;
}

#wp-admin-bar-my-account {
    height: 100%;
}

#wp-admin-bar-my-account>a {
    height: 100%!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: transparent;
    color: black;
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
    background: var(--primarycolor);
    border-radius: 10px;
    color: white;
}

#wp-admin-bar-top-secondary {
    margin-right: 30px!important;
}

#wp-admin-bar-user-info>a>img {
    border-radius: 64px;
}

#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: white!important;
}


/**** WP CONTENT UI ****/

.wp-core-ui .button-primary {
    background-color: var(--primarycolor);
    border: 0px;
    border-radius: 10px;
}

.wp-core-ui .button-primary:hover {
    background-color: var(--primarycoloractive);
    border: 0px;
    border-radius: 10px;
}

.welcome-panel,
.postbox {
    border: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    ;
}

a {
    color: var(--primarycoloractive);
}


/***** MOBILE OPTIMISATIONS ******/

@media screen and (max-width: 782px) {
    #wpcontent {
        width: calc(100% - 30px)!important;
        margin-left: 10px!important;
        margin-right: 10px;
        margin-top: 50px!important;
        height: calc(100vh - 80px);
    }
    #wpadminbar {
        position: fixed;
        background-color: #00000000;
        color: black!important;
    }
    #wp-admin-bar-root-default {
        display: block;
    }
    .auto-fold .wp-responsive-open #adminmenuback,
    .auto-fold .wp-responsive-open #adminmenuwrap {
        border-radius: 0px;
        top: 0px;
        left: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #wpbody {
        padding-top: 10px;
    }
    #wpadminbar.mobile .quicklinks .ab-icon:before,
    #wpadminbar.mobile .quicklinks .ab-item:before {
        color: rgb(255, 255, 255);
    }
    #wp-admin-bar-wp-logo,
    #wp-admin-bar-site-name,
    #wp-admin-bar-comments,
    #wp-admin-bar-new-content {
        display: none!important;
    }
    #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
        font-family: "uicons-regular-rounded"!important;
        content: '\f1c9';
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
        content: "\f15c";
        color: white;
        font-size: 30px;
    }
    .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
        background: transparent;
    }
    .wp-responsive-open #wpbody {
        right: auto;
    }
    #adminmenuwrap {
        height: 100vh;
        overflow-y: scroll;
    }
    .auto-fold #adminmenu .selected .wp-submenu {
        background-color: var(--submenu-darker)!important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset!important;
    }
    /* MENU ANIMATIONS */
    .auto-fold #adminmenu .wp-has-current-submenu a.menu-top+.wp-submenu,
    .auto-fold #adminmenu a.menu-top+.wp-submenu {
        max-height: 0;
        display: block!important;
        transition: max-height 0.45s ease-out;
        overflow: hidden;
        left: 0px!important;
        padding: 0px!important;
        background-color: var(--submenu-darker)!important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset!important;
    }
    .auto-fold #adminmenu .selected .wp-submenu {
        max-height: 500px!important;
        transition: max-height 0.45s ease-in;
    }
    .wp-responsive-open #wpadminbar ul#wp-admin-bar-root-default>li {
        background-color: var(--primarycolor);
    }
    #toplevel_page_admin_profile>a>div.wp-menu-image.dashicons-before.dashicons-current-profile {
        width: 30px;
        height: 30px;
    }
    #toplevel_page_admin_profile>a>div.wp-menu-name {
        padding-top: 10px;
        padding-left: 40px;
    }
    #toplevel_page_admin_profile:focus,
    #toplevel_page_admin_profile:hover,
    #toplevel_page_admin_profile {
        background-color: var(--primarycolor)!important;
    }
    ul#adminmenu a.wp-has-current-submenu.wp-menu-open.wp-has-submenu:after {
        content: "\f10f"!important;
        color: white;
        font-family: "uicons-regular-rounded"!important;
        background-color: transparent!important;
        border: 0px!important;
        top: 20px;
        left: 160px;
    }
    /** drop down arrow on mobile when the submenu is open*/
    #adminmenu li.wp-has-submenu.wp-not-current-submenu.selected .wp-has-submenu:after {
        content: "\f10f"!important;
        font-family: "uicons-regular-rounded"!important;
        background-color: transparent!important;
        border: 0px!important;
        top: 15px;
        left: 160px;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
}


/***** SMALL SCREEN OPTIMISATIONS ******/

@media only screen and (max-width: 960px) {
    .auto-fold #wpcontent,
    .auto-fold #wpfooter {
        margin-left: 95px;
        width: calc(100% - 120px - 30px);
    }
    .auto-fold #toplevel_page_admin_profile>a>div.wp-menu-image.dashicons-before.dashicons-current-profile {
        height: 27px;
        width: 27px;
    }
}