/*  
Author: Gabriel Denys, Verta Digital.
License: Closed source
*/

body {
    background-color: var(--primarycolor);
}

body.login div#login h1 a {
    background-image: url("../img/UbiLogo.svg")!important;
    height: 100px;
    width: 130px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.login form {
    border-radius: 10px;
    box-shadow: var(--card-shadow);
}

.login #backtoblog a,
.login #nav a {
    color: white;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover {
    color: var(--primaryhighlight);
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    border-radius: 10px!important;
    border: 0px solid var(--primarycolor)!important;
    color: #2c3338!important;
    background: #ebebff!important;
    box-shadow: 0px!important;
}

input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    border: 0px solid var(--primarycolor)!important;
    box-shadow: 0 0 0 1px var(--primarycolor)!important;
}

input[type=checkbox]:checked::before {
    font-family: var(--fontfamily)!important;
    content: var(--tick);
    color: var(--primarycoloractive);
    height: 16px;
    width: 16px;
    margin: 0px;
    margin-top: 6px;
}

input[type=checkbox],
input[type=radio] {
    box-shadow: rgb(149 151 165 / 44%) 0px 2px 3px;
    border: 1px solid var(--primarycolor);
}

input[type=checkbox]:focus {
    border: 1px solid var(--primarycolor);
    box-shadow: 0 0 0 0px var(--primarycolor);
}

@media screen and (max-width: 782px) {
    input[type=checkbox]:checked::before {
        height: 25px;
        width: 25px;
        margin: 0px;
        margin-top: 9px;
    }
}