/*  
    Author: Gabriel Denys, Verta Digital.
    License: Closed source
*/


/***** Page Content *****/

#wpcontent {
    z-index: 99;
    margin-left: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 30px - 180px);
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;
    overflow: scroll;
    flex: 2;
}

#wpwrap {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
}

#wpbody {
    margin-top: 0px!important;
}

.folded #wpcontent,
.folded #wpfooter {
    margin-left: 60px;
    width: calc(100% - 30px - 60px);
}


/**** WP CONTENT UI ****/

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
    border-color: var(--primarycoloractive);
    background: var(--primarylight);
    border-radius: 10px;
    border-width: 1px!important;
    box-shadow: var(--card-shadow);
    color: var(--primarycoloractive);
    padding: 10px!important;
}

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
    border-color: var(--primarycolor);
    background: var(--primarylighthover);
    border-radius: 10px;
    border-width: 1px!important;
    color: var(--primarycolor);
}

.wp-core-ui .button-primary,
.wp-core-ui .button,
.wp-core-ui .button-secondary {
    border-color: var(--primarycoloractive);
    background: var(--primarylight);
    border-radius: 10px;
    border-width: 1px!important;
    box-shadow: var(--card-shadow);
    color: var(--primarycoloractive);
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.hover,
.wp-core-ui .button:hover {
    border-color: var(--primarycolor);
    background: var(--primarylighthover);
    border-radius: 10px;
    border-width: 1px!important;
    color: var(--primarycolor);
}

.wrap .page-title-action:focus {
    border-color: var(--primarycolor);
    background: var(--primarylighthover);
    border-radius: 10px;
    border-width: 1px!important;
    color: var(--primarycolor);
    box-shadow: var(--card-shadow);
}

.welcome-panel,
.postbox {
    border: 0px;
    box-shadow: var(--card-shadow);
    border-radius: 10px;
}

a {
    color: var(--primarycoloractive);
}

.postbox-header {
    background-color: var(--submenu-darker);
    border-radius: 10px;
}

.postbox-header * {
    color: white;
    font-weight: 400;
}

#quick-press>p {
    padding-bottom: 10px!important;
}

.welcome-panel a:before {
    font-family: var(--fontfamily)!important;
    color: var(--primarycolor)!important;
}

.welcome-panel .welcome-edit-page:before,
.welcome-panel .welcome-write-blog:before {
    content: var(--post);
}

.welcome-panel .welcome-add-page:before {
    content: var(--add);
}

.welcome-panel .welcome-setup-home:before {
    content: var(--home);
}

.welcome-panel .welcome-view-site:before {
    content: var(--laptop);
}

.welcome-panel .welcome-widgets:before {
    content: var(--widgets);
}

.welcome-panel .welcome-menus:before {
    content: var(--menu);
}

.welcome-panel .welcome-comments:before {
    content: var(--comments);
}

.welcome-panel .welcome-learn-more:before {
    content: var(--learn);
}

#bulk-titles div a:before,
.notice-dismiss:before,
.tagchecklist .ntdelbutton .remove-tag-icon:before,
.welcome-panel .welcome-panel-close:before {
    content: var(--close);
}

#dashboard_right_now li>a:before,
#dashboard_right_now li>span:before {
    font-family: var(--fontfamily)!important;
    color: var(--primarycolor);
}

#dashboard_right_now .post-count a:before,
#dashboard_right_now .post-count span:before {
    content: var(--post);
}

#dashboard_right_now .comment-count a:before {
    content: var(--comments);
}

#dashboard_right_now .page-count a:before,
#dashboard_right_now .page-count span:before {
    content: var(--page);
}

th .comment-grey-bubble:before {
    font-family: var(--fontfamily)!important;
    color: white;
    content: "\f151";
    font-size: 17px;
    padding-left: 3px;
}

.column-comments .comment-count-approved,
.column-comments .comment-count-no-comments,
.column-response .comment-count-approved,
.column-response .comment-count-no-comments {
    background-color: var(--primarycolor);
}

.column-comments .post-com-count-approved:after,
.column-comments .post-com-count-no-comments:after,
.column-response .post-com-count-approved:after,
.column-response .post-com-count-no-comments:after {
    border-top: 5px solid var(--primarycolor);
}

.column-comments .comment-count-approved:hover,
.column-comments .comment-count-no-comments:hover,
.column-response .comment-count-approved:hover,
.column-response .comment-count-no-comments:hover {
    background-color: var(--primarycoloractive)!important;
}

.column-comments .post-com-count-approved:hover:after,
.column-comments .post-com-count-no-comments:hover:after,
.column-response .post-com-count-approved:hover:after,
.column-response .post-com-count-no-comments:hover:after {
    border-top: 5px solid var(--primarycoloractive)!important;
}

.site-health-progress {
    width: 50px;
    height: 50px;
}

.site-health-progress-wrapper {
    margin-bottom: 0px;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    border-radius: 10px;
    border: 0px solid var(--primarycolor);
    color: #2c3338;
    background: #ebebff;
    box-shadow: 0px;
}

input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    border: 0px solid var(--primarycolor);
    box-shadow: 0 0 0 1px var(--primarycolor);
}

.plugin-card {
    border: 0px;
    box-shadow: var(--card-shadow);
    border-radius: 10px!important;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.plugin-card-bottom {
    margin-top: auto;
}

.plugin-install>#the-list {
    display: flex;
    flex-flow: row wrap;
}

#wpwrap {
    background-color: var(--primarycolor)!important;
}

#tnp-wrap {
    background-color: #28313C;
}

body.iframe {
    background: white!important;
}

#menu-management .menu-edit,
#menu-settings-column .accordion-container,
.comment-ays,
.feature-filter,
.imgedit-group,
.manage-menus,
.menu-item-handle,
.popular-tags,
.stuffbox,
.widget-inside,
.widget-top,
.widgets-holder-wrap,
.wp-editor-container,
p.popular-tags,
table.widefat {
    border: 0px;
    border-radius: 10px;
}

.wp-list-table>thead {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}


/* Table Column Widths*/


/*
table.wp-list-table .column-name {
    min-width: 20%!important;
    width: 20%!important;
    max-width: 20%!important;
    padding-left: 1%;
    padding-right: 1%;
}

table.wp-list-table .column-sku {
    min-width: 10%!important;
    width: 10%!important;
    max-width: 10%!important;
    padding-left: 1%;
    padding-right: 1%;
}
*/


/*
.widefat td,
.widefat th,
#post-13>td.title.column-title.has-row-actions.column-primary.page-title {
    display: flex!important;
    flex-flow: column!important;
    justify-content: center!important;
}

#post-13>td.title.column-title.has-row-actions.column-primary.page-title {
    display: flex!important;
    flex-flow: column!important;
    justify-content: center!important;
}

.widefat tfoot tr td,
.widefat tfoot tr th,
.widefat thead tr td,
.widefat thead tr th,
th.sortable a,
th.sorted a,
.sorting-indicator:before,
.widefat thead tr th>span {
    color: var(--primarycolor);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
}



table.wp-list-table .column-thumb {
    max-width: 70px;
    min-width: 70px;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
}*/

.updates-table td input,
.widefat tfoot td input,
.widefat th input,
.widefat thead td input {
    margin-top: calc(50% - 8px)!important;
}

#dashboard-widgets-wrap {
    overflow: visible!important;
}

.tablenav.top {
    box-shadow: var(--card-shadow);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.alignleft.actions {
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.tablenav-pages.one-page {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100px;
    -ms-flex: 0 1 100px;
    flex: 0 1 100px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.wp-list-table {
    margin-top: 20px;
}

.row-actions {
    left: 0px;
    font-weight: 300;
}

input[type=checkbox]:checked::before {
    font-family: var(--fontfamily)!important;
    content: var(--tick);
    color: var(--primarycoloractive);
    height: 16px;
    width: 16px;
    margin: 0px;
    margin-top: 6px;
}

input[type=checkbox],
input[type=radio] {
    box-shadow: rgb(149 151 165 / 44%) 0px 2px 3px;
    border: 1px solid var(--primarycolor);
}

input[type=checkbox]:focus {
    border: 1px solid var(--primarycolor);
    box-shadow: 0 0 0 0px var(--primarycolor);
}

.tablenav.bottom {
    display: none!important;
}

p.search-box {
    margin-bottom: 20px;
}

.plugins .active td,
.plugins .active th {
    background-color: rgb(238, 232, 253);
}

.plugin-update-tr.active td,
.plugins .active th.check-column {
    border-left: 4px solid var(--primarycoloractive);
}

.widefat tfoot td,
.widefat tfoot th {
    border-top-color: transparent;
}

.wp-list-table {
    border-spacing: 0 10px;
}

#cb {
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: top;
}

#the-list>tr>th {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#the-list>tr>td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.widefat thead td,
.widefat thead th {
    border-bottom-color: transparent;
}

.plugin-install #the-list td,
.plugins .active td,
.plugins .active th,
.plugins .inactive td,
.plugins .inactive th,
.upgrade .plugins td,
.upgrade .plugins th {
    box-shadow: none!important;
}

.row-title {
    font-weight: 600;
}

.wp-filter {
    box-shadow: var(--card-shadow);
    border: 0px;
    border-radius: 10px;
}

.filter-links li>a:focus,
.filter-links li>a:hover,
.show-filters .filter-links a.current:focus,
.show-filters .filter-links a.current:hover {
    color: var(--primarycoloractive);
}

.wp-person a:focus .gravatar,
a:focus,
a:focus .media-icon img {
    box-shadow: 0 0 0 1px var(--primarycoloractive) 0 0 2px 1px var(--primarycoloractive);
    outline: 1px solid transparent;
}

.filter-links .current {
    color: var(--primarycolor);
    border-bottom: 4px solid var(--primarycolor);
}


/* Table*/

.striped>tbody>:nth-child(odd) {
    background-color: white!important;
}


/*


.updates-table tbody td.column-title,
.widefat tbody td.column-title,
.widefat tfoot td.column-title,
.widefat thead th.column-title {
    width: 67%;
}
*/


/*Alerts*/

.is-alert-update:before {
    background-color: transparent!important;
}

#message.updated.notice,
div.updated.js-update-details {
    background-color: rgb(40, 156, 112);
    color: white;
    border: 0px;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
}

.media-upload-form .notice,
.media-upload-form div.error,
.wrap .notice,
.wrap div.updated,
.error {
    color: white;
    border: 0px!important;
    border-radius: 10px;
    box-shadow: var(--card-shadow)!important;
}

.media-upload-form div.error,
.wrap div.error,
.notice-error {
    background-color: rgb(209, 12, 78)!important;
}

.media-upload-form div.success,
.wrap div.success,
.notice-success {
    background-color: rgb(24, 179, 94)!important;
}

.media-upload-form div.warning,
.wrap div.warning,
.notice-warning {
    background-color: rgb(228, 170, 10)!important;
}

.media-upload-form div.info,
.wrap div.info,
.notice-info {
    background-color: var(--primaryhighlight)!important;
}

.updated>p>button {
    color: white!important;
}

#bulk-titles div a:before,
.notice-dismiss:before,
.tagchecklist .ntdelbutton .remove-tag-icon:before,
.welcome-panel .welcome-panel-close:before {
    font-family: var(--fontfamily);
    color: white;
}


/*end alert*/

.wp-admin.woocommerce-page table.wp-list-table tr.type-product td.thumb img {
    max-width: 70px!important;
    max-height: 70px;
}

.comment-item:hover .row-actions,
.mobile .row-actions,
.no-js .row-actions,
.row-actions.visible,
tr:hover .row-actions {
    position: relative;
}

.rank-math-page {
    background: var(--primarycolor)!important;
}


/*Block Editor*/

body:not(.is-fullscreen-mode) #editor>div.edit-post-layout.is-mode-visual.is-sidebar-opened.has-fixed-toolbar.interface-interface-skeleton.has-footer,
body:not(.is-fullscreen-mode) #editor>div.edit-post-layout.is-mode-visual.has-fixed-toolbar.interface-interface-skeleton.has-footer,
body:not(.is-fullscreen-mode) #editor>div.edit-post-layout {
    width: 100%;
    position: relative!important;
}

body:not(.is-fullscreen-mode) .interface-interface-skeleton__footer {
    bottom: 20px;
    padding-top: 10px;
}

body.block-editor-page #wpcontent {
    width: calc(100% - 180px - 10px)
}

body.folded.block-editor-page #wpcontent {
    width: calc(100% - 60px - 10px);
    margin-left: 60px;
}

body.auto-fold.block-editor-page #wpcontent {
    width: calc(100% - 60px - 10px);
    margin-left: 60px;
}


/*
.block-editor>#editor>.edit-post-layout {
    left: 180px!important
}

.block-editor>#editor {
    background: var(--primarycolor)!important;
}
*/

.interface-interface-skeleton {
    left: 0px!important;
}

.media-frame a,
.view-switch a.current:before {
    color: var(--primarycoloractive)!important;
}

.media-modal-content {
    border-radius: 10px;
}

.media-frame.mode-grid .attachment.details:focus,
.media-frame.mode-grid .attachment:focus,
.media-frame.mode-grid .selected.attachment:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: -6px;
}

.wp-core-ui .attachment .thumbnail {
    box-shadow: var(--card-shadow)!important;
    border-radius: 10px;
}

.wp-core-ui .attachment .thumbnail:after {
    box-shadow: none;
}

.media-frame.mode-grid .attachment.details:focus .thumbnail,
.media-frame.mode-grid .attachment:focus .thumbnail,
.media-frame.mode-grid .selected.attachment .thumbnail {
    box-shadow: #0f0092 0px 0px 12px -2px, #0f0092 0px 0px 7px 0px!important;
    outline: 2px solid transparent;
    outline-offset: -6px;
    overflow: hidden;
}

.media-frame.mode-grid .selected.attachment,
.wp-core-ui .selected.attachment {
    box-shadow: none!important;
}

.wp-core-ui .attachment-preview {
    box-shadow: none!important;
    background-color: white!important;
    ;
}

.wp-core-ui .attachment.details .check,
.wp-core-ui .attachment.selected .check:focus,
.wp-core-ui .media-frame.mode-grid .attachment.selected .check {
    background-color: var(--primarycoloractive)!important;
    box-shadow: none!important;
    border-radius: 15px;
}

@media screen and (min-width: 783px) and (max-width: 960px) {
    /*block editor*/
    .interface-interface-skeleton {
        top: 0px!important;
    }
}

@media screen and (max-width: 782px) {
    #wpcontent {
        width: calc(100% - 30px)!important;
        margin-left: 10px!important;
        margin-right: 10px;
        margin-top: 50px!important;
        height: calc(100vh - 60px);
        box-shadow: none!important;
        left: 0px;
        transition: 0.5s;
    }
    #wpbody-content {
        padding-bottom: 100px;
    }
    #wpwrap {
        overflow-y: hidden;
    }
    .wp-responsive-open>#wpcontent {
        left: 230px;
    }
    .alignleft.actions.bulkactions {
        display: block;
    }
    .tablenav.top {
        display: flex;
        flex-flow: row;
        height: 40px;
    }
    .tablenav-pages.one-page {
        display: block!important;
        width: 26%;
    }
    .displaying-num {
        display: block!important;
    }
    p.search-box {
        display: flex;
        height: 40px;
    }
    .tablenav.top {
        height: auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .alignleft.actions {
        padding-bottom: 10px;
        padding-top: 10px;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 2 100%;
        -ms-flex: 1 2 100%;
        flex: 1 2 100%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .tablenav .tablenav-pages {
        margin: 0px;
    }
    .woocommerce-embed-page .wrap p.search-box {
        position: relative;
        width: 100%;
        width: 90%;
        padding: 15px;
        box-shadow: var(--card-shadow);
        border-radius: 10px;
    }
    .wp-list-table>tbody>tr,
    thead>tr {
        display: block;
    }
    .widefat tfoot td input[type=checkbox]:before,
    .widefat th input[type=checkbox]:before,
    .widefat thead td input[type=checkbox]:before,
    input[type=checkbox]:checked:before {
        margin: 0px;
        height: 20px;
        width: 20px;
        margin-top: 10px;
        margin-left: 2px;
    }
    .wp-list-table {
        display: block;
        background-color: transparent!important;
    }
    .wp-list-table>tbody,
    .wp-list-table>thead {
        display: block;
    }
    .wp-list-table>tbody>tr {
        border-radius: 10px;
        margin-top: 10px;
        display: flex;
        background: white;
        box-shadow: var(--card-shadow);
    }
    .wp-list-table>tfoot {
        display: none;
    }
    .fixed .column-comments {
        min-width: 24px;
    }
    .wp-list-table.widefat>thead>tr {
        display: flex;
    }
    .updates-table tbody td.check-column,
    .widefat tbody th.check-column,
    .widefat tfoot td.check-column,
    .widefat thead td.check-column {
        width: 30px;
        display: flex;
        align-items: center;
        padding: 0px;
    }
    .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column) {
        min-width: 85%;
        width: auto;
        max-width: 100%;
        padding-top: 35px;
    }
    .tablenav.bottom {
        display: block!important;
    }
    body:not(.plugins-php) .row-actions {
        gap: 0px;
        max-width: 100%;
    }
    .wp-list-table td.column-primary {
        padding-right: 10px;
    }
    .tablenav.bottom>.alignleft.actions {
        display: none;
    }
    .tablenav.bottom .displaying-num {
        text-align: center;
    }
    div.tablenav.top>div.tablenav-pages>span.pagination-links {
        display: none;
    }
    .wp-list-table.widefat>thead>tr {
        display: block;
    }
    .post-type-product .wp-list-table .toggle-row {
        top: 0px;
        position: absolute;
    }
    tr.entry.is-expanded {
        display: flex;
        flex-flow: row;
    }
    tr.entry.is-expanded {
        display: flex;
        flex-flow: column;
        padding-bottom: 10px;
    }
    .wp-admin.woocommerce-page table.wp-list-table tr.type-product td.thumb img {
        max-width: 100px!important;
        max-height: 100px;
    }
    .row-actions {
        left: 10px;
        font-weight: 300;
    }
}